@import url('https://fonts.googleapis.com/css2?family=Manrope');

body {
  min-height: 100vh;
  margin: 0 auto;
  font-family: Manrope, sans-serif;
  display: grid;
  place-items: center;
  background-color: hsl(218, 23%, 16%);
}

main {
  position: relative;
  width: 90vw;
  max-width: 512px;
  aspect-ratio: 2;
  background-color: hsl(217, 19%, 24%);
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 1vh;
  color: white;
  font-size: 0.8rem;
  text-align: center;
}

@media screen and (max-aspect-ratio: 1) {
  main {
    height: auto;
    padding: 2rem;
    width: calc(90vw - 4rem);
  }
}
